@font-face {
    font-family: 'orbitron';
    src: url('assets/fonts_global/Orbitron.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('assets/fonts_global/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow-x: hidden;
    color: #ffffff;
}
h1{
    font-size: clamp(2rem, 6vw, 2.5rem);
    font-family: "orbitron", sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "orbitron", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: clamp(1.5rem, 6vw, 2rem);
    text-align: center;
 }   

p,
a,
li,
button {
    font-family: "montserrat", sans-serif;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    font-weight: 500;
    line-height: 1.6;
}


:focus-visible {
    outline: 3px solid #00ffff;
    outline-offset: 2px;
}
