@font-face {
    font-family: 'orbitron';
    src: url('assets/fonts_global/Orbitron.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('assets/fonts_global/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: radial-gradient(circle at 60% 40%, #0d022d, #000);
  background-repeat: no-repeat;
  color: #fff;
  margin: 0;
  overflow-x: hidden;
}



.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: transparent url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
  animation: spaceMove 100s linear infinite;
  z-index: -1;
}

@keyframes spaceMove {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-500px, -1000px); }
}


h1{
    font-size: clamp(2rem, 6vw, 2.5rem);
    font-family: "orbitron", sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "orbitron", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: clamp(1.5rem, 6vw, 2rem);
    text-align: center;
 }   

p,
a,
li,
button {
    font-family: "montserrat", sans-serif;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    font-weight: 500;
    line-height: 1.6;
}


:focus-visible {
    outline: 3px solid #00ffff;
    outline-offset: 2px;
}
